'Mendely Ltd.'/*
Cutegram/*
Kingsoft/*
SogouPY.users/*
SogouPY/*
StorageExplorer/*
cef_user_data/*
chromium/*
configstore/*
dconf/*
deepin/*
deepin/*
dunst/*
electronic-wechat/*
gconf/*
gocode/*
gtk-2.0/*
mpd/*
mpv/*
mutt/*
ncmpcpp/*
netease-cloud-music/*
nitrogen/*
popups/*
procps/*
pulse/*
rslsync/*
sogou-qimpanel/*
teamviewer/*
unity3d/*
vlc/*
zathura/*
bspwm/*
VirtualBox/*
