[Chewing]
# 选词键
# 可选值：
# 1234567890
# asdfghjkl;
# asdfzxcv89
# asdfjkl789
# aoeuhtn789
# 1234qweras
# dstnaeo789
#SelectionKey=1234567890
# 前方加词
# 可选值：
# True False
#AddPhraseForward=False
# 后方选择字词
# 可选值：
# True False
#ChoiceBackward=True
# 选词完毕自动移到下一个词
# 可选值：
# True False
#AutoShiftCursor=True
# 空格键选词
# 可选值：
# True False
#SpaceAsSelection=True
# 键盘布局
# 可选值：
# Default Keyboard
# Hsu's Keyboard
# IBM Keyboard
# Gin-Yieh Keyboard
# ETen Keyboard
# ETen26 Keyboard
# Dvorak Keyboard
# Dvorak Keyboard with Hsu's support
# DACHEN_CP26 Keyboard
# Han-Yu PinYin Keyboard
# Carpalx Keyboard
#Layout=Default Keyboard

